---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { getCollection } from "astro:content";
import { format } from "date-fns";

export async function getStaticPaths() {
  let posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );
  posts = posts.filter(
    (post) => post.data.draft !== true && post.data.category !== "Zakki"
  );
  const yearMonth = posts.map((post) => ({
    year: format(post.data.pubDate, "yyyy"),
  }));
  return yearMonth.map(({ year }) => ({
    params: { year },
    props: { posts },
  }));
}
const { year } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => {
  return format(post.data.pubDate, "yyyy") === year;
});
---

<BaseLayout title={`${year} Archives`}>
  <div class="lg:col-span-3 lg:mr-8">
    <h2 class="text-2xl font-bold mb-4">アーカイブ: {year}年</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-6" data-pagefind-ignore>
      {
        filteredPosts.map((post) => (
          <li>
            <a
              href={`/${format(post.data.pubDate, "yyyy/MM/")}${post.slug.slice(5)}/`}
            >
              <ArticleCard {...post.data} body={post.body} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
