---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About"
  pubDate={new Date("2023-09-15")}
  category="Blog"
  type="page"
>
  <h2>このブログについて</h2>
  <p>
    色々な技術に触れながらなんとなく生きてきた人が、何かしら書き残しておくために書いているブログです。
    ちょうど必要としていた人に届くぐらいの記事を書いています。
  </p>
  <h2>著者について</h2>
  <p>
    wamoと申します。高専4年生。<br />
    ウェブサイト作ったり動画作ったりしてます。<br />
    詳しいことは<a href="https://wmsci.com">ポートフォリオ</a
    >に乗っけてあります。
  </p>
  <h2>サイトの歴史</h2>
  <h3>～2018年4月</h3>
  <p>
    サイト名をコロコロ変えながらBloggerで運営。
    どこかから引っ張ってきたレスポンシブのHTML+CSSコードを使ってそれっぽいサイトで運用していた。
  </p>
  <h3>2018年5月～</h3>
  <p>
    Lolipopのサーバーを借りWordpressで運用し始める。
    Intertechというサイト名を使用。 テーマはCocoonを使用していた。
  </p>
  <h3>2019年12月～</h3>
  <p>
    何を血迷ったのかaccessto.netというドメインをStarDomainで購入。
    また、Adsenseに登録し広告配信を開始。
  </p>
  <h3>2020年4月〜</h3>
  <p>海外で格安なRuuCloudサーバーに移行。</p>
  <h3>2020年8月〜</h3>
  <p>
    国内で安かったAWHというサーバーに移行。また、ドメインをwmsci.comに変更した。
  </p>
  <h3>2020年9月～</h3>
  <p>
    AWHが突如サービス終了してしまったため、国内でLiteSpeed採用のColorfulboxに移行。
    ただし、一時期Hugoに移行していた影響でWordpressで記事を復元することができず。
    テーマをyStandardに変更。
  </p>
  <h3>2021年5月～</h3>
  <p>
    1年以上運営してようやくロゴができたので登録。
    それに合わせて、ファビコンとOGP画像とその他CSS・自動返信メールなど変更した。
  </p>
  <h3>2023年10月〜</h3>
  <p>Colorfulbox契約期間終了に伴い、自宅鯖に移行。</p>
  <h3>2024年5月〜</h3>
  <p>Wordpressが面倒になってきたため、Astroでブログを作り直した。</p>
</Layout>
