---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="送信完了"
  pubDate={new Date("2023-01-29")}
  category="Blog"
  type="page"
  noindex={true}
>
  <div class="py-8" data-pagefind-ignore>
    <p class="mt-4">
      お問い合わせいただきありがとうございます。送信が完了しました。
    </p>
  </div>
</Layout>
