---
const today = new Date();
---

<footer class="bg-neutral-800 text-white text-sm px-4">
  <div class="max-w-6xl mx-auto py-8">
    <div class="flex items-center justify-center mb-6">
      <a href="/privacy">プライバシーポリシー</a>
    </div>
    <p>CopyRight &copy; {today.getFullYear()} wamo</p>
  </div>
</footer>
